@page "/counter"
@using Npgsql

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<body>

    <select>
        @foreach (var role in roles)
        {
            <option>@role</option>
        }
    </select>
</body>

@code {
    private List<string> roles = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        using (var conn = new
        NpgsqlConnection(""))
        {
            conn.Open();
            using (var cmd = new NpgsqlCommand("SELECT role FROM Employees", conn))
            using (var reader = await cmd.ExecuteReaderAsync())
                while (reader.Read())
                    roles.Add(reader.GetString(0));
        }
    }

}
