@inject NavigationManager NavigationManager
@page "/"
@rendermode InteractiveServer


<PageTitle>Email-Service</PageTitle>

<body>

    <div class="btn-1">
        <img class="logo" src="/images/logo3.jpg">
            <NavLink class="btn" href="@("/mailservice")">
                Send Email
            </NavLink>
    </div>
</body>

<style>
    body{
        
    }


    .logo{
        background-size: cover;
        width: 700px;
        height: 120px;
        line-height: 200px;
        margin-top: 100px;
    }

    .btn-1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; /* Optional */
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2D2D2D;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 150px;
        margin-top: 45px;
    }

    .btn:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 150px;
        color: white;
    }
</style>

